<app-side-form #sideForm>
  <app-page-container class="flex flex-col" nav>
    <app-tabbed-date-form
      [formGroup]="queryForm"
      (onFormSubmitted)="getSdlRates()"
    >
    </app-tabbed-date-form>
  </app-page-container>
  <app-page-container navContent>
    <div class="flex flex-row justify-between items-center w-full">
      <app-page-title
        subHeading="SDL Prices published by FBIL"
        tooltip="The rate at which banks borrow unsecured funds from one another in the interbank market"
        [pageInfo]="pageInfo"
      >
        SDL Prices
      </app-page-title>
      <span class="select-none">
        <a href="https://www.fbil.org.in/#/home" target="_blank">
          <fa-icon [icon]="linkIcon"></fa-icon>
        </a>
        <span class="text-md ml-1">Lag of 7 Days</span>
      </span>
    </div>

    <div class="flex flex-col">
      <div class="table-comp-header">
        <app-text-field
          type="search"
          #filterField
          (keyup)="applyFilter($event)"
          placeholder="Search..."
        ></app-text-field>
        <app-app-button
          (click)="ngOnInit()"
          type="button"
          btnClass="secondary"
          class="mt-3 ml-3"
        >
          <div icon>
            <fa-icon [icon]="refreshIcon"></fa-icon>
          </div>
        </app-app-button>
        <span class="mx-3 text-md font-poppins">
          (As On:
          {{
            currentDate !== undefined
              ? (currentDate | date : "dd.MM.yyyy")
              : "No Date Available"
          }})
        </span>
        <div class="flex flex-row gap-3 ml-auto">
          <app-app-button
            (click)="sideForm.toggleFormNav()"
            btnClass="secondary"
            class="mt-3"
          >
            <div icon>
              <fa-icon [icon]="filterIcon"></fa-icon>
            </div>
            Filters
          </app-app-button>
          <app-app-button
            class="mt-3"
            (click)="exportToCsv(sdlRateList, 'SDL_RATES')"
            type="button"
            btnClass="tertiary"
          >
            <div icon>
              <fa-icon [icon]="exportIcon"></fa-icon>
            </div>
            Export
          </app-app-button>
        </div>
      </div>
      <div class="mr-auto mb-2">
        <app-table-chips [dataArray]="tableChips"></app-table-chips>
      </div>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="text-align: center">
            Date
          </th>
          <td mat-cell *matCellDef="let element" class="text-align: center">
            {{ element.record_date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isin_no">
          <th mat-header-cell *matHeaderCellDef class="text-align: center">
            ISIN
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            {{ element.isin_no }}
          </td>
        </ng-container>

        <ng-container matColumnDef="coupon">
          <th mat-header-cell *matHeaderCellDef class="text-align: center">
            Coupon
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            {{ element.coupon }}
          </td>
        </ng-container>

        <ng-container matColumnDef="maturity_date">
          <th mat-header-cell *matHeaderCellDef class="text-align: center">
            Maturity Date
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            {{ element.maturity_date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="text-align: center">
            Price
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            {{ element.price }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ytm">
          <th mat-header-cell *matHeaderCellDef class="text-align: center">
            YTM
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            {{ element.ytm }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row center" *matNoDataRow>
          <td class="mat-cell !py-5" colspan="9">No Data Found</td>
        </tr>
      </table>
      <mat-paginator
        class="{{ dataSource.data.length !== 0 ? '!block' : '!hidden' }}"
        [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </app-page-container>
</app-side-form>
