.dashboard-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  min-height: 24rem;
  height: 100%;
}

mat-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: start;
  color: #494F58;
}