<app-side-form #sideForm>
  <app-page-container nav>
    <form [formGroup]="mclrCompForm" (ngSubmit)="searchMCLRComparision()">
      <div class="flex flex-col w-full px-2">
        <app-page-title>
          <div class="flex flex-row items-center gap-2">
            <fa-icon class="fa-xs" [icon]="filterIcon"></fa-icon>
            Filters
          </div>
        </app-page-title>
        <div class="grid grid-cols-1 items-end justify-between w-full gap-3">
          <div class="col-span-1">
            <app-text-field
              type="date"
              label="From date"
              [control]="getFormControllers('fromDate')"
            >
            </app-text-field>
          </div>
          <div class="col-span-1">
            <app-text-field
              type="date"
              label="To date"
              [control]="getFormControllers('toDate')"
            >
            </app-text-field>
          </div>
          <div class="col-span-1">
            <div class="mt-[15px]">
              <label for="bank_code" class="font-semibold"> Select Bank </label>
              <mat-select
                id="bank_code"
                formControlName="bank_code"
                multiple
                placeholder="Banks List"
                [compareWith]="compareBanks"
              >
                <mat-option
                  *ngFor="let bank of banks"
                  [value]="bank.bank_code"
                  [disabled]="isBankDisabled(bank.bank_code)"
                >
                  {{ bank.bank_code }} - {{ bank.bank_name }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-span-1">
            <app-select-field
              label="Tenor"
              [control]="getFormControllers('tenor')"
            >
              <option *ngFor="let tenor of tenors" [value]="tenor.mfreq_code">
                {{ tenor.viewValue }}
              </option>
            </app-select-field>
          </div>
          <div class="col-span-1">
            <div class="flex flex-row gap-3 items-center mt-[15px]">
              <app-app-button class="flex-1" type="submit" [expanded]="true">
                <div icon>
                  <fa-icon [icon]="searchIcon"></fa-icon>
                </div>
                Search
              </app-app-button>
              <app-app-button
                class="flex-1"
                btnClass="secondary"
                type="reset"
                [expanded]="true"
              >
                <div icon>
                  <fa-icon [icon]="clearIcon"></fa-icon>
                </div>
                Clear
              </app-app-button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </app-page-container>
  <app-page-container navContent>
    <app-page-title>MCLR Comparison</app-page-title>

    <app-tab-view [tabs]="tabList" (tabSelected)="onTabChange($event)">
      <div class="flex flex-row justify-end w-full mb-2">
        <div class="mr-auto mt-4 ml-2">
          <app-table-chips [dataArray]="tableChips"></app-table-chips>
        </div>
        <app-app-button
          (click)="sideForm.toggleFormNav()"
          btnClass="secondary"
          class="mt-1"
        >
          <div icon>
            <fa-icon [icon]="filterIcon"></fa-icon>
          </div>
          Filters
        </app-app-button>
        <app-app-button
          (click)="exportToCsv(tableData, 'MCLR Comparison')"
          btnClass="tertiary"
          class="ml-2 mr-1 mt-1"
        >
          <div icon>
            <fa-icon [icon]="exportIcon"></fa-icon>
          </div>
          Export
        </app-app-button>
      </div>

      <table
        *ngIf="activeTab === 'Rate List'"
        mat-table
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="effective_date">
          <th mat-header-cell *matHeaderCellDef class="!text-center">
            Effective Date
          </th>
          <td mat-cell *matCellDef="let element" class="!text-center">
            {{ element.effective_date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="bank_code">
          <th mat-header-cell *matHeaderCellDef class="!text-center">
            Bank Code
          </th>
          <td mat-cell *matCellDef="let element" class="!text-center">
            {{ element.bank_code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="bank_name">
          <th mat-header-cell *matHeaderCellDef class="!text-center">
            Bank Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.bank_name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="frequency_type">
          <th mat-header-cell *matHeaderCellDef class="!text-center">Tenor</th>
          <td mat-cell *matCellDef="let element" class="!text-center">
            {{ element.frequency_type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mclr_rate">
          <th mat-header-cell *matHeaderCellDef class="!text-center">Rate</th>
          <td mat-cell *matCellDef="let element" class="!text-center">
            {{ element.mclr_rate }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="{{ activeTab === 'Rate List' ? 'block' : 'hidden' }}">
        <mat-paginator
          class="{{ dataSource.data.length !== 0 ? '!block' : '!hidden' }}"
          [pageSizeOptions]="[10, 20, 30]"
          showFirstLastButtons
        ></mat-paginator>
      </div>

      <app-content-card *ngIf="activeTab === 'Graph'">
        <app-line-graph
          class="p-3 h-[400px]"
          [chartOptions]="chartOptions!"
        ></app-line-graph>
      </app-content-card>
    </app-tab-view>
  </app-page-container>
</app-side-form>
