<div class="flex flex-row items-center justify-between mb-3">
  <app-text-field
    type="search"
    (keyup)="applyFilter($event)"
    placeholder="Search..."
  ></app-text-field>
  <app-app-button btnClass="primary" (click)="openAddIsinModel()">
    <div icon>
      <fa-icon [icon]="addIcon"></fa-icon>
    </div>
    Add ISIN
  </app-app-button>
</div>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="srno" class="px-8">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element; let i = index">
      {{ i + 1 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="isin" class="px-8">
    <th mat-header-cell *matHeaderCellDef>ISIN</th>
    <td mat-cell *matCellDef="let element">
      {{ element.isin_no }}
    </td>
  </ng-container>
  <ng-container matColumnDef="symbol" class="px-8">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">
      <a
        class="scheme-a"
        href="javascript:;"
        (click)="addEditFundHouseModel('edit', element)"
      >
        {{ element?.symbol }}</a
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="company" class="px-8">
    <th mat-header-cell *matHeaderCellDef>Company Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.company_name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nifty50" class="px-8">
    <th mat-header-cell *matHeaderCellDef>NIFTY 50</th>
    <td mat-cell *matCellDef="let element">
      {{ element.nifty50 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nifty200" class="px-8">
    <th mat-header-cell *matHeaderCellDef>NIFTY 200</th>
    <td mat-cell *matCellDef="let element">
      {{ element.nifty200 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status" class="px-8">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.rstatus }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  class="{{ dataSource.data.length !== 0 ? '!block' : '!hidden' }}"
  [pageSizeOptions]="[10, 20, 30]"
  showFirstLastButtons
></mat-paginator>
