@import "../../../../../../styles/global-styles.scss";
@import "../../../../../../styles/media-queries.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.pull-right {
  float: right;
}

.checkbox_c1 {
  align-content: center !important;
  align-items: center !important;
}

.basicTable {
  table,
  th,
  td {
    border: 0.5px solid rgb(189, 204, 232);
    border-collapse: collapse;
  }

  th,
  td {
    padding: 2px;
  }
}

#bptablele {
  border-collapse: collapse;
  width: 100%;
}
#bptable td,
#bptable th {
  border: 1px solid #ddd;
}
#bptable tr:nth-child(even) {
  background-color: #f2f2f2;
}
#bptable tr:hover {
  background-color: #ddd;
}
#bptable th {
  text-align: center !important;
  background-color: #f7fafc;
}
