<div
  id="bloc-1"
  class="flex flex-1 max-w-[13rem] h-full flex-col rounded-lg py-2 px-6 items-center justify-center hover:scale-[1.05] transition duration-200 hover:shadow-sm"
  [style.background-color]="bgColor"
>
  <div
    class="w-[5rem] h-[5rem] rounded-full bg-white flex items-center justify-center mb-10"
  >
    <img [src]="fxRateImageSrc" class="scale-[0.7] border-white" alt="" />
  </div>
  <span class="font-poppins text-2xl font-semibold text-white">{{
    fxRateTitle
  }}</span>

  <span class="text-md text-white font-inter font-medium mt-2">{{
    fxRate
  }}</span>
</div>
