@import "../../../../styles/global-styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
::ng-deep .mat-mdc-table {
  min-width: max-content !important;
}
section,
.mat-mdc-table {
  display: table;
}
.cta-button-row {
  display: table-cell;
  max-width: 600px;
}
.cta-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mdc-button--raised {
  margin: 0 5px 0 5px;
}

.center {
  text-align: center;
}

.mat-mdc-header-cell {
  color: $text-secondary;
  font-size: small;
  background: #f0f0f5 !important;
  // border-color: #bde0fe !important;
}

td.mat-mdc-cell.mdc-data-table__cell.cdk-cell {
  font-size: 14px !important;
  font-weight: 400 !important;
}

#filterField {
  font-size: 12px;
}

#table {
  width: 100%;
  max-width: none;
  box-sizing: border-box;
}

.mat-mdc-table {
  width: 100%;
  max-width: none;
}

/* Add the following CSS to hide the browser's default scrollbar */
::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (min-width: 768px) {
  #month-start-date {
    width: 25%;
  }
}

#table {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 8px;
  text-align: center;
}

th {
  position: sticky;
  top: 0;
  background-color: #f0f0f5;
  z-index: 2;
}
