.wrapper {
  position: relative;
  top: 10px;
  right: 210px;
}

#actions-panel {
  width: 250px;
  background-color: white;
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: rgb(229 231 235);
  position: absolute;
}

.action-tile {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}
