<div
  id="profile-container"
  class="flex flex-col overflow-visible"
  (mouseenter)="showActionsPanel = true"
  (mouseleave)="setTimeOutClose()"
>
  <div
    class="h-[40px] w-[40px] bg-blue-100 text-blue-400 rounded-full flex flex-col items-center justify-center"
  >
    {{ userInitials }}
  </div>
  <div *ngIf="showActionsPanel" class="wrapper">
    <div
      id="actions-panel"
      class="shadow-lg"
      (mouseenter)="showActionsPanel = true; isInActionsPanel = true"
      (mouseleave)="showActionsPanel = false; isInActionsPanel = false"
    >
      <div id="userInfo" class="flex flex-row p-2">
        <div
          class="h-[40px] w-[40px] bg-blue-100 text-blue-400 rounded-full flex flex-col items-center justify-center mr-3"
        >
          {{ userInitials }}
        </div>
        <div id="userDetails" class="flex flex-col items-start">
          <span class="font-poppins text-sm">{{ userName }}</span>
          <span class="font-poppins text-xs">{{ company }}</span>
        </div>
      </div>
      <hr />
      <div class="action-tile hover:bg-gray-100" (click)="logout()">
        <span class="material-symbols-outlined mr-2"> logout </span>
        <span class="font-poppins text-sm">Logout</span>
      </div>
    </div>
  </div>
</div>
