#result-panel {
  position: relative;
  width: fit-content;
  min-width: 360px;
  height: fit-content;
  background: white;
  border: #f1f5f9;
  border-style: solid;
  border-radius: 0.5rem;
  z-index: 999 !important;
  margin-top: 4px;
}

.action-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 12px 4px;
}
