<div
  id="block-1"
  class="w-full rounded-lg flex flex-row items-center p-2 hover:scale-[1.03] hover:shadow-lg transform transition duration-500"
  [style.background-color]="bgColor"
>
  <div
    id="icon-border"
    class="flex bg-white rounded-full w-[50px] h-[50px] justify-center items-center m-3"
  >
    <span class="material-symbols-outlined"> {{ icon }} </span>
  </div>
  <div id="text-container" class="flex flex-col mr-4">
    <span class="text-2xl font-medium font-poppins text-white">
      {{ heading }}
    </span>
    <span class="text-xs text-white font-inter">
      {{ subHeading }}
    </span>
  </div>
</div>
