<footer>
  <div id="flex-container" class="bg-gray-50 h-full">
    <div
      id="flex-row-1"
      class="flex flex-wrap flex-row justify-center px-[20%] sm:px-[20%] lg:text-sm"
    >
      <a href="https://www.fourthsignal.com" target="_blank"
        ><div class="px-5 hover:text-fs-red">Home</div></a
      >
      <a href="https://www.fourthsignal.com/insights" target="_blank"
        ><div class="px-5 hover:text-fs-red">Insights</div></a
      >
      <a href="https://www.fourthsignal.com/expertise" target="_blank"
        ><div class="px-5 hover:text-fs-yellow">Expertise</div></a
      >
      <a href="https://www.fourthsignal.com/successes" target="_blank"
        ><div class="px-5 hover:text-fs-green">Achievements</div></a
      >
      <a href="https://www.fourthsignal.com/insights" target="_blank"
        ><div class="px-5 hover:text-fs-green">About</div></a
      >
      <a href="https://www.fourthsignal.com/contact-us" target="_blank"
        ><div class="px-5 hover:text-fs-gray">Contact Us</div></a
      >
    </div>
    <div id="flex-row-2" class="flex justify-center pt-3 pb-5">
      <p>&#64;2023 Copyright: Fourth Signal</p>
    </div>
  </div>
</footer>
