<app-side-form #sideForm>
  <app-page-container nav>
    <form [formGroup]="mclrHistoryForm" (ngSubmit)="searchMCLRHistory()">
      <div class="flex flex-col w-full px-2">
        <app-page-title>
          <div class="flex flex-row items-center gap-2">
            <fa-icon class="fa-xs" [icon]="filterIcon"></fa-icon>
            Filters
          </div>
        </app-page-title>
        <div class="grid grid-cols-1 items-center md:items-end w-full">
          <div class="col-span-1">
            <app-text-field
              type="date"
              label="From date"
              [control]="getFormControllers('from_date')"
            >
            </app-text-field>
          </div>
          <div class="col-span-1">
            <app-text-field
              type="date"
              label="To date"
              [control]="getFormControllers('to_date')"
            >
            </app-text-field>
          </div>
          <div class="col-span-1">
            <app-select-field
              label="Select Bank"
              [control]="getFormControllers('bank_code')"
            >
              <option
                *ngFor="let bank of mclrBankList"
                [value]="bank.bank_code"
              >
                {{ bank.bank_code }} - {{ bank.bank_name }}
              </option>
            </app-select-field>
          </div>
          <div class="col-span-1">
            <div class="flex flex-row gap-3 items-center mt-[15px]">
              <app-app-button class="flex-1" type="submit" [expanded]="true">
                <div icon>
                  <fa-icon [icon]="searchIcon"></fa-icon>
                </div>
                Search
              </app-app-button>
              <app-app-button
                class="flex-1"
                btnClass="secondary"
                type="reset"
                [expanded]="true"
              >
                <div icon>
                  <fa-icon [icon]="clearIcon"></fa-icon>
                </div>
                Clear
              </app-app-button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </app-page-container>
  <app-page-container navContent>
    <app-page-title>MCLR History</app-page-title>

    <div class="flex flex-row justify-end w-full mb-2">
      <div class="mr-auto mt-4 ml-2">
        <app-table-chips [dataArray]="tableChips"></app-table-chips>
      </div>
      <app-app-button
        (click)="sideForm.toggleFormNav()"
        btnClass="secondary"
        class="mt-1"
      >
        <div icon>
          <fa-icon [icon]="filterIcon"></fa-icon>
        </div>
        Filters
      </app-app-button>
      <app-app-button
        (click)="exportToCsv(allData, 'MCLR History Rates')"
        btnClass="tertiary"
        class="ml-2 mr-1 mt-1"
      >
        <div icon>
          <fa-icon [icon]="exportIcon"></fa-icon>
        </div>
        Export
      </app-app-button>
    </div>

    <!-- Table -->

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="effective_date">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          Effective Date
        </th>
        <td mat-cell *matCellDef="let element" class="text-align: center">
          {{ element.effective_date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="on">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          Overnight
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.on ? element.on : "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="onem">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          1 Month
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.onem ? element.onem : "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="threem">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          3 Months
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.threem ? element.threem : "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sixm">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          6 Months
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.sixm ? element.sixm : "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="oney">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          1 Year
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.oney ? element.oney : "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="twoy">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          2 Years
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.twoy ? element.twoy : "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="threey">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          3 Years
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.threey ? element.threey : "-" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fivey">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          5 Years
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.fivey ? element.fivey : "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="error">
        <th mat-header-cell *matHeaderCellDef class="text-align: center">
          Error
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.error }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row center" *matNoDataRow>
        <td class="mat-cell !py-5" colspan="9">No Data Found</td>
      </tr>
    </table>
    <mat-paginator
      class="{{ dataSource.data.length !== 0 ? '!block' : '!hidden' }}"
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </app-page-container>
</app-side-form>
