<div class="w-[512px]">
  <div class="flex flex-row justify-between">
    <app-page-title>
      <div class="flex flex-row items-center px-2 pt-3 w-fit gap-2">
        <fa-icon class="fa-xs" [icon]="editIcon"></fa-icon>
        Edit Monthly Average AUM
      </div>
    </app-page-title>
    <app-app-button
      class="pr-3 pt-3"
      btnClass="danger"
      (onTap)="deleteRecord()"
    >
      <fa-icon [icon]="deleteIcon"></fa-icon>
    </app-app-button>
  </div>
  <hr />
  <app-page-container>
    <form [formGroup]="editAumForm" (ngSubmit)="editAumMonthly()">
      <div class="grid grid-cols-2 gap-3 items-end">
        <div class="col-span-1">
          <app-select-field
            class="mt-[15px]"
            label="Month"
            placeholder="Select month"
            [control]="getFormControllers('month')"
          >
            <option *ngFor="let month of allmonths" [value]="month.id">
              {{ month.name }}
            </option>
          </app-select-field>
        </div>
        <div class="col-span-1">
          <app-select-field
            class="mt-[15px]"
            label="Year"
            placeholder="Select Year"
            [control]="getFormControllers('year')"
          >
            <option *ngFor="let year of allyears" [value]="year.id">
              {{ year.id }}
            </option>
          </app-select-field>
        </div>
        <div class="col-span-1">
          <app-select-field
            class="mt-[15px]"
            label="Fund House"
            placeHolder="Select Fund House"
            [control]="getFormControllers('fundHouseName')"
          >
            <option *ngFor="let fundhouse of fundhouses" [value]="fundhouse.id">
              {{ fundhouse.name }}
            </option>
          </app-select-field>
        </div>
        <div class="col-span-1">
          <app-text-field
            class="mt-[15px]"
            label=" AUM(Cr)"
            placeholder="Enter aum"
            [control]="getFormControllers('aum')"
          >
          </app-text-field>
        </div>

        <div class="col-span-1">
          <app-app-button class="flex-1" type="submit" [expanded]="true">
            <div icon>
              <fa-icon [icon]="saveIcon"></fa-icon>
            </div>
            Save
          </app-app-button>
        </div>
        <div class="col-span-1">
          <app-app-button
            class="flex-1"
            btnClass="secondary"
            [expanded]="true"
            (onTap)="closeModal()"
          >
            <div icon>
              <fa-icon [icon]="closeIcon"></fa-icon>
            </div>
            Close
          </app-app-button>
        </div>
      </div>
    </form>
  </app-page-container>
</div>
