$selected-tenor-color: #0647c8; //custom
$hover-background-color: #023e8a; //Theme(900);

.chip {
  background-color: white;
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: rgb(243, 244, 246);
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.chip:hover {
  background-color: $hover-background-color;
  color: white;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.selected {
  background-color: $selected-tenor-color; //Theme(700)
  color: white;
}
